{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

	<div id="fh5co-couple-story"{% if value.bg_gray %}class="fh5co-section-gray"{% endif %}>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>{{ value.headline }}</span>
					<h2>{{ value.maintitle }}</h2>
					<p>{{ value.text }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-md-offset-0">
					<ul class="timeline animate-box">
                        {% for block in value.timelineentry %}
                            <li class="{% cycle 'animate-box' 'timeline-inverted animate-box' %}">
                                {{ block }}
                            </li>
                        {% endfor %}
			    	</ul>
				</div>
			</div>
		</div>
	</div>
