{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% image value.background fill-1600x900 as background_image %}

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url({{ background_image.url }});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span>{{ value.headline }}</span>
					<h2>{{ value.maintitle }}</h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>{{ value.lefttitle }}</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>{{ value.lefttime }}</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>{{ value.leftdate }}</span>
									</div>
									<p>{{ value.lefttext }}</p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3>{{ value.righttitle }}</h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>{{ value.righttime }}</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span>{{ value.rightdate }}</span>
									</div>
									<p>{{ value.righttext }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
