{% extends "base.html" %}
{% load static %}{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Gift basket" %}{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h2>{% trans "Gift basket" %}</h2>

        {% for gift in cartitems %}
            <div class="row">
                <div class="col-md-12">
                    <p>
                        {{ gift.amount }} <br>
                        {{ gift.gift.name }} <br>
                        {{ gift.gift.price }} <br>
                        {{ gift.price_total }} <br>
                        {{ gift.id }}
                    </p>
                </div>

            </div>
        {% endfor %}
        <form method="post" action="{% url 'wedding:order-create' %}">
        {% csrf_token %}
            <input type="text" name="voucher_from">
            <input type="text" name="voucher_greeting">
            <input type="checkbox" name="voucher_senddirect">
            <input type="submit" class="btn btn-primary" name = "save" value="{% trans "Request Coupon" %}" />
        </form>

    {% if cartitems.count == 0 %}
        <p>
        {% trans "Your gift basket is empty." %}
        </p>
    {%  endif %}
    </div>
{% endblock content %}
