{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}{% trans "Gifts" %}{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h2>{% trans "Gifts" %}</h2>
    </div>
        {% for gift in gifts %}
            <div class="container">
            {% if gift.is_available %}
            <div class="row">
            {% if user.is_authenticated %}
             <form method="post" action="{% url 'wedding:cart-create' %}">
                             {% csrf_token %}
             {% endif %}
                <div class="col-md-6 col-md-push-6">
                    <p>
                          {% if gift.img_catalog %}
                        <img src="{{ gift.img_catalog.url }}" alt="Image" class="img-responsive">

                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <h2>{{ gift.name }}</h2>
                    {% if gift.gift_is_part %}
                        {% trans "I treat the couple to "%} <input name="quantity" type="number" class="text-right"  min=1 max="{% if gift.total_available %}{{ gift.total_available}}{% else %}{{ gift.avail_parts }}{% endif %}" required="required">  {% trans "of" %} {% if gift.total_taken %}{{ gift.total_taken }}{% else %}{{ gift.taken_parts }}{% endif %}/{{ gift.max_parts }} {% trans "parts of" %} {{ gift.name }}, {% trans " each with the value of CHF"%} {{ gift.price }}.
                    {% else %}
                        {% trans "I treat the couple to "%} {{ gift.name }}, {% trans "with the value of CHF "%} {{ gift.price }}.
                        <input hidden name="quantity" value="1">
                    {% endif %}
                    <input hidden name="gift" value="{{ gift.id }}">
                    <div style="padding-top: 20px"></div>
                    {% if user.is_authenticated %}
                        <input type="submit" class="btn btn-primary" name = "save" value="{% trans "Grant wish" %}"/> {% if gift.cart_quantity %}{{ gift.cart_quantity }} {% trans "already in your gift basket." %}{% endif %}
                    {% else %}
                        <a class="btn btn-primary" href="{% url 'account_login' %}" role="button">{% trans "Log-In to grant this wish" %}</a>
                    {% endif %}
                </div>

            {% if user.is_authenticated %}
            </form>
            {% endif %}

            </div>

            {% endif %}
            </div>
            </div>
            <div class="row" style="background-color: lightgray; height: 2px; margin-top: 10px; margin-bottom: 10px">
            </div>

        {% endfor %}
    <div class="container">
    {% if gifts.count == 0 %}
        <p>
        {% trans "No gifts exists yet. Create one to get started." %}
        </p>
         <a href={% url 'wedding:gift-create' %} class="btn btn-primary btn-large" role="button" > {% trans "Add new" %} </a>
    {%  endif %}
    </div>
{% endblock content %}

{% block extra-script %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script>
$(document).ready(function () {

    $('form').each(function () {
        $(this).validate({
            // your options
        });
    });

});
</script>

{% endblock extra-script %}
