{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}{% trans "Gifts" %}{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h2>{% trans "Gifts" %}</h2>

        {% for gift in gifts %}
            <div class="row">
             <form method="post" action="{% url 'wedding:cart-create' %}">
                             {% csrf_token %}
                <div class="col-md-6 col-md-push-6">
                    <p>
                          {% if gift.img %}
                        <img src="{{ gift.img.url }}" alt="Image" class="img-responsive">
                        {% endif %}
                    </p>
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <h2>{{ gift.name }}</h2>

                <p>
                    {{ gift.description }}
                </p>
                    {% if gift.gift_is_part %}
                        {% trans "We/I treat the couple to "%} <input name="quantity" type="number" class="text-right" min=1 max="{{ gift.max_parts }}" required="required">  {% trans "of" %} {{ gift.max_parts }} {% trans "parts of" %} {{ gift.name }}, {% trans " each with the value of CHF"%} {{ gift.price }}.
                    {% else %}
                        {% trans "We/I treat the couple to "%} {{ gift.name }}, {% trans "with the value of CHF "%} {{ gift.price }}.
                        <input hidden name="quantity" value="1">
                    {% endif %}
                <p>
                    <input hidden name="gift" value="{{ gift.id }}">
                    <input type="submit" class="btn btn-primary" name = "save" value={% trans "Grant wish" %} />
                </p>
                </div>
             </form>
            </div>
        {% endfor %}

    {% if gifts.count == 0 %}
        <p>
        {% trans "No gifts exists yet. Create one to get started." %}
        </p>
         <a href={% url 'wedding:gift-create' %} class="btn btn-primary btn-large" role="button" > {% trans "Add new" %} </a>
    {%  endif %}
    </div>
{% endblock content %}

{% block extra-script %}
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.12.0/jquery.validate.min.js"></script>
    <script>
$(document).ready(function () {

    $('form').each(function () {
        $(this).validate({
            // your options
        });
    });

});
</script>

{% endblock extra-script %}
