{% extends "base.html" %}
{% load static i18n %}
{% block title %}RSVPs{% endblock %}

{% block content %}
<div class="container">
  <h2>RSVP Replies</h2>

  <div class="list-group">
    {% for entry in rsvp_list %}
      <a href="{% url 'wedding:rsvp-detail' entry.user.username %}"
              {% if entry.will_attend %}
                class="list-group-item list-group-item-success">
              {% else %}
                class="list-group-item list-group-item-danger">
              {% endif %}

        <h4 class="list-group-item-heading">{{ entry.user.name }}</h4>
                {% if entry.will_attend %}
                    <p class="list-group-item-text"> {% trans "Additional Guest" %}:<br>
                    {% if entry.guest2 %}
                        {{ entry.guest2 }}<br>
                    {% endif %}
                    {% if entry.guest3 %}
                        {{ entry.guest3 }}<br>
                    {% endif %}

                    {% if entry.guest4 %}
                        {{ entry.guest4 }}<br>
                    {% endif %}
                    </p>
                {% endif %}
        </a>
    {% endfor %}
    </div>
</div>
{% endblock content %}
