{% extends "base.html" %}
{% load static i18n %}

{% block nav_rsvp %}class="active"{% endblock %}
{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>{{ rsvp.user.name }}</h2>
      <p>
      {% if rsvp.date %}
        Date: {{ rsvp.date }}<br>

          {% if rsvp.will_attend %}
            {% trans "Attendance" %}: {% trans "Yes, is attending" %}<br>
              {% if rsvp.guest2 %}
                {% trans "Additional Guest" %}: {{ rsvp.guest2 }}<br>
              {% endif %}
              {% if rsvp.guest3 %}
                {% trans "Additional Guest" %}: {{ rsvp.guest3 }}<br>
              {% endif %}
              {% if rsvp.guest4 %}
                {% trans "Additional Guest" %}: {{ rsvp.guest4 }}<br>
              {% endif %}
          {% else %}
            {% trans "Attendance" %}: {% trans "No, unfortunatly not attending" %}<br>
          {% endif %}
      {% else %}
          {% trans "You have not yet filled in the form. Please click edit to fill out the form."%} <br>
       {% endif %}
      </p>
    </div>
  </div>

{% if rsvp.user == request.user or not rsvp.date %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    {% if not global_preferences.general__postevent_mode %}
    <a class="btn btn-primary" href="{% url 'wedding:rsvp-update' %}" role="button">{% trans "Edit" %}</a>
    {% endif %}
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

